@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body {
  background-color: #EEEEDD;
  font-family: 'Karla', sans-serif;
}

.chat-container {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  overflow-y: scroll;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.user {
  background-color: #0074d9;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
}

.assistant {
  background-color: #eee;
  color: #333;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
}

.user-input{
  height: 100px;
  position: fixed;
  transform: translateY(350px);
}