@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

:root {
  --fg: #332211;
  --bg: #ffddaa;
  --banterbook: #aaffff;
  --round: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: var(--round);
  margin: 2px;
}
::-webkit-scrollbar-thumb {
  background: #332211;
  border-radius: var(--round);
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

body {
  background-color: var(--bg);
  font-family: 'Karla', sans-serif;
  overflow: hidden;
}

.chat-container-1{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 25px;
}


.chat-container {
  background-color: var(--bg);
  border-radius: var(--round);
  padding: 20px;
  width: 70%;
  height: calc(100vh - 220px);
  margin: 0 auto;
  overflow-y: scroll;
}

.user-input{
  margin: auto;
  margin-top: 0;
  display: flex;
  height: 50px;
  width: 440px;
}

.user-input textarea{
  width: calc(440px - 60px);
}
.send-button{
  font-style: italic;
  width: 60px;
}

.user-msg {
  background-color: var(--fg);
  color: var(--bg);
  font-weight: bold;
  border: 5px solid var(--fg);
  border-radius: var(--round);
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  float:right;
  font-size: 20px;
}
.user-row {
  width: 100%;
  display: inline-block;
}

.assistant-msg {
  background-color: var(--banterbook);
  color: var(--fg);
  font-weight: bold;
  border: 5px solid var(--fg);
  border-radius: var(--round);
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  float:left;
  font-size: 20px;
}
.assistant-row {
  display: flex;
  align-items: left;
  width: 100%;
}

button {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  background-color: var(--fg);
  color: var(--bg);
  border-radius: var(--round);
  border: 5px solid var(--fg);
}
button:hover {
  filter: brightness(1.5);
}
button:active {
  filter: brightness(1);
  background-color: white;
  color: black;
}


textarea {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  background-color: white;
  color: var(--fg);
  border-radius: var(--round);
  border: 5px solid var(--fg);
  resize: none;
}
